<table class="awesome">
  <tr>
    <% header = @table.shift; header.shift %>
    <% header.each do |h| %>
    <th><%= h %></th>
    <% end %>
    <th colspan="2"/>
  </tr>

<% for pricing_value in @table %>
  <% p_id = pricing_value.shift %>
  <tr>
    <% for x in pricing_value %>
      <td><%=h x %></td>
    <% end %>
    <td><%= link_to 'Edit', {:controller => "pricing_values", :action => "edit", :id => p_id} %></td>
    <td><%= link_to 'Destroy', {:controller => "pricing_values", :action => "destroy", :id => p_id}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>
