<% @title = ["Hours broken down by", @col_table.titleize, "and", @row_table.titleize, @date_range_string, @by_percentage ? " by percentages" : ""].join(" ") %>
<h1><%= @title %></h1>
<%= make_table(@result) %>

