<%= error_messages_for 'frequency_type' %>

<!--[form:frequency_type]-->
<p><label for="frequency_type_name">Name</label><br/>
<%= text_field 'frequency_type', 'name'  %></p>

<p><label for="frequency_type_description">Description</label><br/>
<%= text_area 'frequency_type', 'description', :cols => 50, :rows => 10 %></p>
<!--[eoform:frequency_type]-->

