<% for column in FrequencyType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @frequency_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @frequency_type %> |
<%= link_to 'Back', :action => 'list' %>
