<% for column in Holiday.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @holiday.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @holiday %> |
<%= link_to 'Back', :action => 'list' %>
