<fieldset>
  <div class="row">
    <!--[form:payment_method]-->
<div class="form-element">
  <label for="payment_method_description">Description</label>
  <%= text_field 'payment_method', 'description' , {:class=>"text-input"} %>
</div>

<!--[eoform:payment_method]-->

  </div>
</fieldset>
