<p>
  <b>Name:</b>
  <%=h @gizmo_type_group.name %>
</p>

<p>
  <b>Gizmo Types:</b>
<%= @gizmo_type_group.gizmo_type_list %>
</p>

<%= link_to 'Edit', edit_gizmo_type_group_path(@gizmo_type_group) %> |
<%= link_to 'Back', gizmo_type_groups_path %>
