<% for column in Meeting.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @meeting.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @meeting %> |
<%= link_to 'Back', :action => 'list' %>
