*~
/config/database.yml
/doc/autodoc
/log/*.log*
/public/plugin_assets
/public/images/dhtml_calendar
/public/images/active_scaffold/DO_NOT_EDIT
/public/javascripts/dhtml_calendar
/public/javascripts/active_scaffold/DO_NOT_EDIT
/public/stylesheets/dhtml_calendar
/public/stylesheets/active_scaffold/DO_NOT_EDIT
/tmp/sessions/ruby_sess*
/vendor/actionmailer
/vendor/actionpack
/vendor/activemodel
/vendor/activerecord
/vendor/activeresource
/vendor/activesupport
/vendor/rails
/vendor/railties
/vendor/rails.new
