<fieldset>
	<div class="row">
		<!--[form:gizmo_status]-->
<div class="form-element">
  <label for="gizmo_status_description">Description</label>
  <%= text_field 'gizmo_status', 'description' , {:class=>"text-input"} %>
</div>

<!--[eoform:gizmo_status]-->

	</div>
</fieldset>