<p>
  <b>Description:</b>
  <%=h @volunteer_event.description %>
</p>

<p>
  <b>Date:</b>
  <%=h @volunteer_event.date %>
</p>


<%= link_to 'Edit', {:action => "edit", :id => @volunteer_event.id} %> |
<%= link_to_function 'Back', 'window.close();' %>
