<h1>Editing meeting_minder</h1>

<%= link_to 'Destroy This Minder', {:action => "destroy", :id => @meeting_minder.id}, :confirm => 'Are you sure?' %>

<% form_for(@meeting_minder, :url => {:action => "update", :id => @meeting_minder.id}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Update", :class => 'follow_scroll right_side' %>
  </p>
<% end %>
