<h1>New meeting_minder</h1>

<% form_for(@meeting_minder, :url => {:action => "create"}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Create", :class => 'follow_scroll right_side' %>
  </p>
<% end %>

