<h1>New assignment</h1>

<fieldset>
<% form_for(@assignment, :url => {:action => "create"}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
</fieldset>

<%= link_to 'Back', {:action => "index"} %>
