<%= render :partial => 'list' %>

<%= link_to 'Previous page', { :page => @vacation_pages.current.previous } if @vacation_pages.current.previous %>
<%= link_to 'Next page', { :page => @vacation_pages.current.next } if @vacation_pages.current.next %> 

<br />

<%= link_to 'Full list', :action => 'full_list' %>
<%= link_to 'New vacation', :action => 'new' %>
