<% for column in Vacation.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @vacation.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @vacation %> |
<%= link_to 'Back', :action => 'list' %>
