<div id="disburse">
  <h2>Disbursement Info</h2>
  <table summary="" width="100%">
    <tr>
      <td colspan="2">Type of Disbursement:</td>
      <td colspan="2">[ &nbsp; ]<br />Grant</td>
      <td colspan="2">[ &nbsp; ]<br />24-hour</td>
      <td colspan="2">[ &nbsp; ]<br />Build</td>
    </tr>
    <tr>
      <td class="line_label" colspan="2">Recipient Name:</td>
      <td colspan="6"><br />_________________________</td>
    </tr>
    <tr>
      <td class="line_label" colspan="2">Date of Disbursement:</td>
      <td colspan="6"><br />_________________________</td>
    </tr>
    <tr>
      <td class="line_label" colspan="2">Recipient ID:</td>
      <td colspan="6"><br />_________________________</td>
    </tr>
    <tr>
      <td colspan="2">Type of Gizmo:</td>
      <td colspan="3">[ &nbsp; ]<br />CRT Monitor</td>
      <td colspan="3">[ &nbsp; ]<br />System</td>
    </tr>
    <tr>
      <td colspan="0" />
      <td colspan="3">[ &nbsp; ]<br />Keyboard</td>
      <td colspan="2">[ &nbsp; ]<br />Mouse</td>
      <td colspan="3">[ &nbsp; ]<br />Speakers</td>
    </tr>
  </table>
</div>
