<div id="memory">
  <h2>Memory</h2>
  <% @parser.xml_foreach("//*[contains(@id, 'memory')]") do %>
    <% if @parser.xml_if("size") %>
      <table>
        <tr>
          <td>
            Total:
          </td>
          <td>
            <%= @parser.xml_value_of("size").to_bytes(1) %>
          </td>
        </tr>
      </table>
    <% end %>
    <% @parser.xml_foreach(".//*[contains(@id, 'bank')]") do %>
      <div class="indent">
        <table>
          <tr>
            <td>
              Bank:
            </td>
            <td>
              <%= @parser.xml_value_of("@id").sub(/^bank:/, "") %>
            </td>
          </tr>
          <tr>
            <td>
              Description:
            </td>
            <td>
              <%= @parser.xml_value_of("description") %>
            </td>
          </tr>
          <% if @parser.xml_if("size") %>
            <tr>
              <td>
                Size:
              </td>
              <td>
                <%= @parser.xml_value_of("size").to_bytes %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  <% end %>
</div>
