  <div id="optical_drives">
    <h2>Optical Drives</h2>
    <% xml_foreach("id", "cdrom") do %>
    <table>
      <tr>
        <td>Drive:</td>
        <td>
          <%= xml_value_of("logicalname") %>
        </td>
      </tr>
      <tr>
        <td>
          Description:
        </td>
        <td>
          <%= xml_value_of("description") %>
        </td>
      </tr>
      <tr>
        <td>
          Model:
        </td>
        <td>
          <%= xml_value_of("product") %>
        </td>
      </tr>
    </table>
    <% end %>
  </div>
