<div id="optical_drives">
  <h2>Optical Drives</h2>
  <% @parser.xml_foreach("id", "cdrom") do %>
    <table>
      <tr>
        <td>Drive:</td>
        <td>
          <%= @parser.xml_value_of("logicalname") %>
        </td>
      </tr>
      <tr>
        <td>
          Description:
        </td>
        <td>
          <%= @parser.xml_value_of("description") %>
        </td>
      </tr>
      <tr>
        <td>
          Type:
        </td>
        <td>
          <% if (@parser.do_with_parent do @parser.xml_value_of("product") + @parser.xml_value_of("description") end).match(/(scsi|sata|ide)/i) %>
            <%= $1.upcase %>
          <% else %>
            Unknown
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          Model:
        </td>
        <td>
          <%= @parser.xml_value_of("product") %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
