<div id="pci">
  <h2>PCI Bus</h2>
  <% @system_parser.pcis.each do |pc| %>
    <h3><%= pc.title %></h3>
    <% pc.devices.each do |i| %>
        <%= render :partial => "pci_guts", :locals => {:d => i} %>
    <% end %>
  <% end %>
</div>
