<% for column in Customization.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @customization.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @customization %> |
<%= link_to 'Back', :action => 'list' %>
