<% @button_options = @update_options || @create_options %>
<p class="message error-message">
  Correct these problems or save the transaction as-is and print:
  <button type="button" id="buttons_invoice"
    onclick="<%= remote_function( 
        :url => @button_options.merge(:user_choice => 'invoice'),
        :with => 'Form.serialize(this.form)',
        :loading => "Element.show('#{loading_indicator_id(@button_options)}');"
      ) %>">an invoice</button>
</p>