<table class="awesome">
  <tr>
    <th>Name</th>
    <th>Gizmo Type</th>
  </tr>

<% for pricing_type in @pricing_types %>
  <tr>
    <td><%=h pricing_type.name %></td>
    <td><%=h pricing_type.gizmo_type ? pricing_type.gizmo_type.description : "(None)" %></td>
    <td><%= link_to 'Edit', {:action => "edit", :id => pricing_type.id} %></td>
    <td><%= link_to 'Destroy', {:action => "destroy", :id => pricing_type.id}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>
