<h2>Showing pricing table for <%= @printme_pull_from %></h2>

<table class="awesome">
  <% @table.each_with_index do |row, i| %>
  <tr>
    <% row.each do |x| %>
    <% if i == 0 %>
      <th><%= x %></th>
    <% else %>
      <td><%= x %></td>
    <% end %>
    <% end %>
  </tr>
  <% end %>
</table>

<%= link_to 'Back', :action => "index" %>
