<% if flash[:thanks] -%>
  <p><%=h flash[:thanks] -%></p>
<% end -%>

<p>
  Please enter your name or ID number in the text box below, then make sure your name is selected below that
</p>

<p>
  <%= contact_search_box %><br/>
  <%= submit_tag 'Continue' %>
</p>
