      <div class="form-element" id="task_type">
        <label for="volunteer_task_volunteer_task_type">Task type</label>
        <% if @volunteer_task %>
          <% dropdown_list = @volunteer_task.show_for_me %>
        <% else %>
          <% dropdown_list = VolunteerTaskType.instantiables.effective_on(params[:day]).sort_by{|x| x.description.downcase} %>
        <% end %>
        <select id="volunteer_task_volunteer_task_type" name="volunteer_task[volunteer_task_type_id]">
          <% if @volunteer_task %>
            <% current = @volunteer_task.volunteer_task_type_id %>
          <% else %>
            <% current = params[:current].to_i %>
          <% end %>
          <%= options_from_collection_for_select(dropdown_list, "id", "display_name", current) %>
        </select>
      </div>
