<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Free Geek Database:
    <%= Inflector.titleize(controller.class.name).sub(/ Controller/, '') %>:
    <%= Inflector.titleize(controller.action_name) %>
  </title>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= stylesheet_link_tag 'datetime_toolbocks', 'calendar-win2k-cold-1.css', :plugin => 'datetime_toolbocks' %>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
  <%#= javascript_include_tag 'rico_corner' %>
  <%= javascript_include_tag 'datetime_toolbocks', 'calendar', 'lang/calendar-en', 'calendar-setup', :plugin => 'datetime_toolbocks' %>
</head>
<body>

  <div id="logo">
    <img src="/images/freegeeklogo.png" alt="freegeeklogo.png" />
  </div>
  <div id="sidebar">
    <%= render :partial => 'sidebar_links/sidebar' %>
  </div>

  <div id="<%= content_id({}) %>">
