<dl>
  <dd>
    <%= link_to "hours", :controller => 'volunteer_tasks' %>
  </dd><dd>
    <%= link_to "donations", :controller => 'transaction', :action => 'donations' %>
  </dd><dd>
    <%= link_to "sales", :controller => 'transaction', :action => 'sales' %>
  </dd><dd>
    <%= link_to "income", :controller => 'reports', :action => 'income' %>
  </dd><dd>
    <%= link_to "contacts", :controller => 'contacts' %>
  </dd>
</dl>