<h1 class="welcome">Welcome to the Free Geek Database</h1>

<p class="welcome">This is the first release, so be rough and report all your problems
to martin.  Feel free to make feature requests in general, but they
will have to wait until all the kinks have been worked out of what we
have so far.</p>
