<h1 class="welcome">Welcome to the Free Geek Database</h1>

<% if session[:unauthorized_error] %>
  <span class="error">You have insufficient privilages to access that!</span>
  <% if !logged_in? %>
    <br />
    Please log in:
    <%= render :partial => 'sessions/form' %>
    <br/>
    <br/>
  <% else %>
    <% session[:unauthorized_error] = false %>
    <% session[:unauthorized_params] = nil %>
  <% end %>
<% end %>

<% if session[:logout_message] %>
  <span class="info">You have been logged out!</span>
  <% session[:logout_message] = false %>
<% end %>

<p class="welcome">This is the release <%= FGDB_VERSION %>. Please
  report any problems you find. You will need authorization to do much
  more than get reports; please talk to a staff member to acquire the
  necessary account.</p>
