<fieldset>
  <div class="row">
    <!--[form:source_type]-->
<div class="form-element">
  <label for="source_type_description">Description</label>
  <%= text_field 'source_type', 'description' , {:class=>"text-input"} %>
</div>

<!--[eoform:source_type]-->

  </div>
</fieldset>
