<fieldset>
  <div class="row">
    <!--[form:discount_schedule]-->
<div class="form-element">
  <label for="discount_schedule_name">Name</label>
  <%= text_field 'discount_schedule', 'name' , {:class=>"text-input"} %>
</div>

<!--[eoform:discount_schedule]-->

  </div>
</fieldset>