<% for column in Job.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @job.read_attribute(column.name.to_sym) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @job %> |
<%= link_to 'Back', :action => 'list' %>
