<h1>Editing type</h1>

<% form_tag({:action => "update", :id => @type.id}) do |f| %>
  <p>
    <b>Name</b><br />
    <%= text_field "type", :name %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Back', :action=>"index" %>
