<h1>Listing types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for type in @types %>
  <tr>
    <td><%= type.name %></td>
    <td><%= link_to 'Edit', :action=>"edit", :id=>type.id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New type', :action=>"new" %>
