/* ===================================
          layout */

div#logo {
position: absolute;
top: 0px;
left: 5px;
padding: 2px;
}
div#sidebar {
position: absolute;
top: 140px;
left: 0px;
padding: 2px;
margin: 10px;
background-color: #49F;
}
div#content {
position: absolute;
top: 40px;
left: 130px;
padding: 10px;
}
div#sidebar a {
color: #333;
}
div#sidebar dd:hover {
background-color: #ACF;
}

h1.welcome {
background-color: #005CB8;
padding: 8px 5px 4px 5px;
font: normal 17px verdana, sans-serif;
color: white;
}

p.welcome {
width: 65%;
}

p.footer {
width: 65%;
}

/* ===================================
         Invoice, Receipt */
#receipt-header-left {
  float: left
}
#receipt-header-right {
  float: right
}

/* ===================================
      Displays of special watched values */

.totals {
  float: right;
  display: inline;
  text-align: right;
  width: 250px;
}
.totals td {
  background-color: yellow;
}
.totals td.amount{
  font-size: 1.2em;
}
.totals td.below_req {
  color: red;
  font-weight: bold;
  font-size: 1.4em;
}
.totals td.required {
  font-weight: bold;
  font-size: 1.4em;
}
.totals td.above_expect {
  color: green;
  font-weight: bold;
  font-size: larger;
}

/* ===================================
         datalist */

tr.datalist {
background-color: #BFD;
}
table.datalist {
display: block;
}
div.datalist {
display: inline;
float: right;
margin-right: 10px;
margin-bottom: 2px;
}
span.datalist {
float: none;
font-family: Verdana, sans-serif;
color: #555;
font-size: 11px;
padding-bottom: 1px;
}

/* ===================================
         hours */

.search {
background-color: #DAFFCD;
padding: 4px;
border: solid 1px #7FcF00;
border-top: none;
}
.hours_report {
background-color: #7C5;
width: 300px;
padding: 4px;
border: solid 1px #5FAF00;
}
span.hours {
background-color: #0F0;
font-weight: bold;
border: black 1px solid;
padding: 1px;
margin-left: 10px;
}

/* ===================================
         Searchbox stuff */

.loading-indicator {
vertical-align: bottom;
margin: 0;
}

.searchbox_form {
width: 82%;
background-color: white;
border-right: black 1px solid;
border-top: black 1px solid;
border-left: black 1px solid;
border-bottom: black 1px solid;
position: absolute;
}

.searchbox_form div.form-element {
float: left;
margin-right: 10px;
margin-bottom: 2px;
}

.searchbox_form label {
display: block;
font-family: Verdana, sans-serif;
color: #555;
font-size: 11px;
padding-bottom: 1px;
}

.searchbox_form input.text-input,
.searchbox_form select {
font-size: 16px;
font-weight: bold;
font-family: Arial, sans-serif;
letter-spacing: -1px;
border: solid 1px #1F7F00;
}

.searchbox_form .form-element input {
padding: 1px;
}

.searchbox_form textarea {
height: 65px;
font-family: Arial, sans-serif;
font-size: 12px;
padding: 1px;
border: solid 1px #1F7F00;
}

.contact_display {
background-color: #A5C5C5;
border: solid 1px #799;
text-align: left;
font-size: 10px;
width: 320px;
}

.contact_display a {
font-size: 13px;
}

.contact_display .id {
font-size: 13px;
}

.contact_display .name {
text-align: center;
font-size: 20px;
}

.contact_display .address {
padding: 10px;
margin-left: 10px;
font-size: 17px;
}

.contact_display .contact_methods {
margin-left: 10px;
padding: 10px;
font-size: 14px;
}

.contact_display .hours {
font-size: 17px;
margin-left: 10px;
}

.searchbox_form {
background-color: #DED;
}

.hours_type {
font-size: 12px;
background-color: #7C5;
width: 240px;
}

/* ===================================
         Report stuff */

table.report {
border: solid 1px black;
cell-padding: solid 2px;
background-color: #EEF;
}
.report td {
text-align: right;
background-color: #EFF;
}
.report td.spacer {
background-color: #EEF;
border: none;
}
.report th {
text-align: right;
}
.report th.column_header {
border-bottom: solid 2px black;
}
.report th.row_header {
border-right: solid 2px black;
}
.report th.section_header {
border: none;
border-bottom: solid 2px black;
text-align: center;
font-size: 18px;
background-color: #F0EFEF;
}

/* ===================================
         money-related stuff */

fieldset.payment {
background-color: #BCA;
}
.check td {
color: black;
}
.cash td {
color: #2A2;
}
.credit td {
color: #828;
}
.invoice td {
color: red;
}