/* ===================================
          layout */
div#login_box {
  float:right;
  clear:left;
}

div#logo {
position: absolute;
top: 0px;
left: 5px;
padding: 2px;
}
div#sidebar {
position: absolute;
top: 140px;
left: 0px;
padding: 2px;
margin: 10px;
background-color: #49F;
}
div#content {
position: absolute;
top: 40px;
left: 130px;
padding: 10px;
width: 83%;
}
div#sidebar a {
color: #333;
}
div#sidebar div {
padding-left: 2px;
padding-right: 20px;
background-color: #ACF;
}

div#sidebar div#report_links {
padding-left: 10px;
padding-right: 2px;
}

h1.welcome {
background-color: #005CB8;
padding: 8px 5px 4px 5px;
font: normal 17px verdana, sans-serif;
color: white;
}

p.welcome {
width: 65%;
}

p.footer {
width: 65%;
}

/* ===================================
         General Stuff */

input.cancel {
 margin-left: 20px;
 color: red;
}

input.save {
 color: green;
}

.error {
    color: #FF0000;
    size: +2;
}

.info {
    color: #00FF00;
    size: +2;
}

table {
width: 100%;
}

table th {
padding: 2px 5px;
}

table th, table th p {
margin: 0px;
background-color: #555;
color: #EEE;
text-align: left;
font-family: arial,sans-serif;
font-size: 11px;
font-weight: bold;
line-height: normal;
}

table tr td {
border-bottom: 1px solid #C5DBF7;
font-size: 11px;
border-left: 1px solid #DDD;
}

tr.even td {
background-color: #E2F2FF;
}

td.actions {
width: 90px;
}

/* ===================================
         Invoice, Receipt */
#receipt-header-left {
  float: left
}
#receipt-header-right {
  float: right
}

/* ===================================
      Displays of special watched values */

.totals {
  float: right;
  clear: right;
  display: inline;
  text-align: right;
  width: 250px;
}
.totals td {
  background-color: yellow;
}
.totals td.amount{
  font-size: 1.2em;
}
.totals td.below_req {
  color: red;
  font-weight: bold;
  font-size: 1.4em;
}
.totals td.required {
  font-weight: bold;
  font-size: 1.4em;
}
.totals td.above_expect {
  color: green;
  font-weight: bold;
  font-size: larger;
}

/* ===================================
         datalist */

tr.datalist {
background-color: #BFD;
}
table.datalist {
display: block;
}
div.datalist {
  display: inline;
  float: right;
  /*margin-right: 10px;*/
  margin-bottom: 2px;
}
span.datalist {
float: none;
font-family: Verdana, sans-serif;
color: #555;
font-size: 11px;
padding-bottom: 1px;
}

.gizmo_event_extras {
  float: left;
  clear: left;
  border: none;
}

div#transaction_info {
  float: left;
}

div#transaction_info .form-element {
  float: left;
  clear: left;
}

div.gizmo_event_extras fieldset {
  border: none;
  padding: 0px 0px 0px 0px;
}

div#transaction_line_items_div div.line_item {
  float: right;
  clear: right;
}

/* ===================================
         hours */

.search {
background-color: #DAFFCD;
padding: 4px;
border: solid 1px #7FcF00;
border-top: none;
}
.hours_report {
background-color: #7C5;
width: 300px;
padding: 4px;
border: solid 1px #5FAF00;
}
span.hours {
background-color: #0F0;
font-weight: bold;
border: black 1px solid;
padding: 1px;
margin-left: 10px;
}

/* ===================================
         Contacts stuff */

div.user {
  clear: left;
}

div.user div.login, div.password {
  clear: left;
}

div.user div.role-check-box {
  clear: left;
}

div.user div.role-check-box label {
  display: inline;
}

form.floating_form {
position: absolute;
width: 82%;
background-color: #DED;
border-right: black 1px solid;
border-top: black 1px solid;
border-left: black 1px solid;
border-bottom: black 1px solid;
}

.loading-indicator {
vertical-align: bottom;
margin: 0;
}

div.form-element {
float: left;
line-height: 11px;
margin-right: 10px;
margin-bottom: 2px;
}

label {
font-family: Verdana, sans-serif;
display: block;
color: #555;
font-size: 11px;
padding-bottom: 1px;
}

label.checkbox {
display: normal;
}

.image-link {
border:none;
}

input,
select {
font-size: 16px;
font-weight: bold;
font-family: Arial, sans-serif;
font-variant: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
font-size-adjust: none;
letter-spacing: -1px;
border: solid 1px #1F7F00;
}

input.money {
text-align: right;
}

.form-element input {
padding: 1px;
}

textarea {
height: 65px;
font-family: Arial, sans-serif;
font-size: 12px;
padding: 1px;
border: solid 1px #1F7F00;
}

.contact_display {
background-color: #A5C5C5;
border: solid 1px #9BB;
text-align: left;
line-height: normal;
font-size: 10px;
width: 200px;
}

.contact_display {
padding: 5px;
}

.contact_display a {
font-size: 13px;
}

.contact_display .id {
font-size: 13px;
}

.contact_display .name {
text-align: center;
font-size: 20px;
}

.contact_display .address {
padding: 10px;
margin-left: 10px;
font-size: 17px;
}

.contact_display .contact_methods {
margin-left: 10px;
padding: 10px;
font-size: 14px;
}

.contact_display .hours {
font-size: 17px;
margin-left: 10px;
}

.hours_type {
font-size: 12px;
background-color: #7C5;
width: 100%;
}

li.contact div.address {
color:#888888;
font-size:10px;
}

.search_result_name {
}

.search_result_address {
font-size: 8;
foreground: green;
}

/* ===================================
         Report stuff */

table.report {
border: solid 1px black;
cell-padding: solid 2px;
background-color: #EEF;
}
.report td {
text-align: right;
background-color: #EFF;
}
.report td.spacer {
background-color: #EEF;
border: none;
}
.report th {
text-align: right;
}
.report th.column_header {
border-bottom: solid 2px black;
}
.report th.row_header {
border-right: solid 2px black;
}
.report th.section_header {
border: none;
border-bottom: solid 2px black;
text-align: center;
font-size: 18px;
background-color: #F0EFEF;
}

/* ===================================
         money-related stuff */

fieldset.payment {
background-color: #BCA;
}
.check td {
color: black;
}
.cash td {
color: #2A2;
}
.credit td {
color: #828;
}
.invoice td {
color: red;
}

/* ====================================
        volunteer report */
/*
.contact_info {
  float:left;
  clear: none;
}
*/
.task_info {
  float:right;
}
.task_info .form-element {
  float: left;
  clear: left;
}

#volunteer_task_type_report {
  width: 300px;
}
#community_service_type_report {
  width: 300px;
}
.task {
  width: 100%;
  border-bottom: solid 1px black;
}
.task_name {}
.task_data {
  float: right;
  margin-top: -18px; /* GAH! */
}

div.auto_complete {
width: 350px;
background: #fff;
}
div.auto_complete ul {
border:1px solid #888;
margin:0;
padding:0;
width:100%;
list-style-type:none;
}
div.auto_complete ul li {
margin:0;
padding:3px;
}
div.auto_complete ul li.selected {
background-color: #ffb;
}
div.auto_complete ul strong.highlight {
color: #800;
margin:0;
padding:0;
}

