/* ===================================
          layout */
div#login_box {
  float:right;
  clear:left;
}

div#logo {
position: absolute;
top: 0px;
left: 5px;
padding: 0px;
}
div#sidebar {
position: absolute;
top: 140px;
left: 0px;
padding: 2px;
margin: 5px;
min-width: 131px;
background-color: #49F;
}
div#content {
position: absolute;
top: 40px;
left: 140px;
padding: 10px;
width: 83%;
}
div#sidebar a {
color: #333;
}
div#sidebar div {
padding-left: 2px;
padding-right: 20px;
background-color: #ACF;
}

div#sidebar div.sidebar_section {
padding-left: 10px;
padding-right: 2px;
}

h1.welcome {
background-color: #005CB8;
padding: 8px 5px 4px 5px;
font: normal 17px verdana, sans-serif;
color: white;
}

p.welcome {
width: 65%;
}

p.footer {
width: 65%;
}
p.longfooter {
width: 100%;
}

/* ===================================
         General Stuff */

span.print_only {
display: none;
}

input.cancel {
 margin-left: 20px;
 color: red;
}

input.save {
 color: green;
}

.error {
    color: #FF0000;
    size: +2;
}

.info {
    color: #00FF00;
    size: +2;
}

.tooltip_header {
  width:300;
  background:#C4D5E3;
  padding:10px;
}

.tooltip_body {
  width:300;
  background:#FFFFFF;
}
/* ===================================
          conditions */
table.list {
width: 100%;
float: left;
}

table.list th {
padding: 2px 5px;
}

table.list th, table.list th p {
margin: 0px;
background-color: #555;
color: #EEE;
text-align: left;
font-family: arial,sans-serif;
font-size: 11px;
font-weight: bold;
line-height: normal;
}

table.list tr td {
border-bottom: 1px solid #C5DBF7;
font-size: 11px;
border-left: 1px solid #DDD;
}

div.hours_detail_report table.list tr td {
font-size: 18px;
}

div.hours_detail_report table.list tr th {
font-size: 18px;
}

div.hours_detail_report {
font-size: 18px;
}

table.list tr.even td {
background-color: #E2F2FF;
}

table.list td.actions {
width: 90px;
}

div.conditions {
width: 100%;
border: 1px solid #DDD;
}
table.conditions th {
width: 100px;
}
table.conditions td:last-child {
width 100px;
}
table.conditions th span {
float: right;
}
table.conditions {
width: 100%;
float: left;
}
select.conditions {
width: 200px;
}
table.conditions td:last-child span {
float: right;
}

/* ===================================
         Invoice, Receipt */
#receipt-header-left {
  float: left
}
#receipt-header-right {
  float: right
}

/* ===================================
      Displays of special watched values */

.totals {
  float: right;
  clear: right;
  display: inline;
  text-align: right;
  font-weight: bold;
  font-size: larger;
}

.totals td {
  background-color: yellow;
}
.totals td.amount{
  width: 50px;
  font-weight: normal;
}
.totals td.below_req {
  color: red;
  font-weight: bold;
  font-size: 1.4em;
}
.totals td.required {
  font-weight: bold;
  font-size: 1.4em;
}
.totals td.above_expect {
  color: green;
  font-weight: bold;
  font-size: larger;
}

/* ===================================
         datalist */

tr.datalist {
background-color: #BFD;
}
table.datalist {
display: block;
}
div.datalist {
  display: inline;
  float: right;
  /*margin-right: 10px;*/
  margin-bottom: 2px;
}
span.datalist {
float: none;
font-family: Verdana, sans-serif;
color: #555;
font-size: 11px;
padding-bottom: 1px;
}

.gizmo_event_extras {
  float: left;
  clear: left;
  border: none;
}

div#transaction_info {
  float: left;
}

div#transaction_info .form-element {
  float: left;
  clear: left;
}

div.gizmo_event_extras fieldset {
  border: none;
  padding: 0px 0px 0px 0px;
}

div#transaction_line_items_div div.line_item {
  float: right;
  clear: right;
}

/* ===================================
         hours */

.search {
background-color: #DAFFCD;
padding: 4px;
border: solid 1px #7FcF00;
border-top: none;
}
.hours_report {
background-color: #7C5;
width: 300px;
padding: 4px;
border: solid 1px #5FAF00;
}
span.hours {
background-color: #0F0;
font-weight: bold;
border: black 1px solid;
padding: 1px;
margin-left: 10px;
}

/* ===================================
         Contacts stuff */

div.user {
  clear: left;
}

div.user div.login, div.password {
  clear: left;
}

div.user div.role-check-box {
  clear: left;
}

div.user div.role-check-box label {
  display: inline;
}

form.floating_form {
position: absolute;
background-color: #DED;
border-right: black 1px solid;
border-top: black 1px solid;
border-left: black 1px solid;
border-bottom: black 1px solid;
}

.loading-indicator {
vertical-align: bottom;
margin: 0;
}

div.form-element {
float: left;
line-height: 11px;
margin-right: 10px;
margin-bottom: 2px;
}

.noblock label {
  display: inline;
}

label {
font-family: Verdana, sans-serif;
display: block;
color: #555;
font-size: 11px;
padding-bottom: 1px;
}

label.checkbox {
display: normal;
}

.image-link {
border:none;
}

input,
select {
font-size: 16px;
font-weight: bold;
font-family: Arial, sans-serif;
font-variant: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
font-size-adjust: none;
letter-spacing: -1px;
border: solid 1px #1F7F00;
}

input.money {
text-align: right;
}

.form-element input {
padding: 1px;
}

textarea {
height: 65px;
font-family: Arial, sans-serif;
font-size: 12px;
padding: 1px;
border: solid 1px #1F7F00;
}

.contact_display {
background-color: #A5C5C5;
border: solid 1px #9BB;
text-align: left;
line-height: normal;
font-size: 10px;
width: 200px;
}

.contact_display {
padding: 5px;
}

.contact_display a {
font-size: 13px;
}

.contact_display .id {
font-size: 13px;
}

.contact_display .name {
text-align: center;
font-size: 20px;
}

.contact_display .address {
padding: 10px;
margin-left: 10px;
font-size: 17px;
}

.contact_display .contact_methods {
margin-left: 10px;
padding: 10px;
font-size: 14px;
}

.contact_display .contact_comments {
margin-left: 10px;
padding: 10px;
font-size: 14px;
}

.contact_display .hours {
font-size: 17px;
margin-left: 10px;
}

.hours_type {
font-size: 12px;
background-color: #7C5;
width: 100%;
}

li.contact div.address {
color:#888888;
font-size:10px;
}

.search_result_name {
}

.search_result_address {
font-size: 8;
foreground: green;
}

/* ===================================
         Report stuff */

table.report {
border: solid 1px black;
cell-padding: solid 2px;
background-color: #EEF;
}
.report td {
text-align: right;
background-color: #EFF;
}
.report td.spacer {
background-color: #EEF;
border: none;
}
.report th {
text-align: right;
}
.report th.column_header {
border-bottom: solid 2px black;
}
.report th.row_header {
border-right: solid 2px black;
}
.report th.section_header {
border: none;
border-bottom: solid 2px black;
text-align: center;
font-size: 18px;
background-color: #F0EFEF;
}

.report .type-row {
  background-color: #FF9900
}

.report .disbursement-breakout-column {
  background-color: #0099FF;
}
/* ===================================
         money-related stuff */

fieldset.payment {
background-color: #BCA;
}
.red td {
color: red;
}
.free_transaction td {
color: black;
}
.check_transaction td {
color: orange;
}
/* green */
.cash_transaction td {
color: #2A2;
}
.coupon_transaction .store_credit_transaction td {
color: brown;
}
/* purple */
.credit_transaction td {
color: #828;
}
.unresolved_invoice_transaction td {
color: red;
}
.resolved_invoice_transaction td {
color: blue;
}
.mixed_transaction td {
color: #F660AB;
}

/* ====================================
        volunteer report */
/*
.contact_info {
  float:left;
  clear: none;
}
*/
.task_info {
  float:right;
}
.task_info .form-element {
  float: left;
  clear: left;
}

.task {
  width: 100%;
}
.task_name {
  border-bottom: solid 1px black;
}
.task_data {
  border-bottom: solid 1px black;
  align: right;
  text-align: right;
}

div.auto_complete {
width: 350px;
background: #fff;
}
div.auto_complete ul {
border:1px solid #888;
margin:0;
padding:0;
width:100%;
list-style-type:none;
}
div.auto_complete ul li {
margin:0;
padding:3px;
}
div.auto_complete ul li.selected {
background-color: #ffb;
}
div.auto_complete ul strong.highlight {
color: #800;
margin:0;
padding:0;
}

.letter_head .logos {
  float: left;
}
.letter_head img {
  vertical-align: top;
}
.letter_head .contact-info {
  float: left;
}

.hours_detail_report {
  float: left;
}

.short_row {
  color: red;
}

#short_row {
  color: red;
}

#bonus_row {
  color: blue;
}

.line {
  text-align: right;
}

.invisible {
  display: none;
}

@media print {
.noprint { display: none; }
}
.onlyprint { display: none; }
@media print {
.onlyprint { display: inline; }
}

.hidden { display: none; }

table.line_item_table tr th, table.line_item_table tr td {
text-align: right;
align: right;
}

.largetable td {
font-size: 16pt;
}

.largetable td:last-child {
text-align: right
}

table.badge {
  margin-left: 0.45in;
  border-color: transparent;
}

table.badgepage1 {
  margin-top: 0.2in;
}

table.badgepage2 {
  margin-top: 0.08in;
}

table.badge td, table.badge th {
  width: 2.18in;
  vertical-align: top;
  text-align: center;
  border-color: transparent;
}

table.badge tr {
  height: 3.5in;
  border-color: transparent;
}