body {font-family: sans-serif; margin-left: 1%; font-size: 8pt}
td {padding-right: 5px}
td:first-child {text-align: right; vertical-align: top; font-weight: bold; padding-right: 8px}
table {font-size: 8pt; margin-bottom: 10px}
h1 {font-size: 18pt;  margin-bottom: 0.7em}
h2 {font-size: 13pt;  margin-bottom: 0.5em}
h3 {font-size: 8pt; margin-bottom: 10px }

td.line_label {vertical-align:bottom;}
div.indent {margin-left: 0.1in}
table table {margin-top: -2px}
table table td:first-child {text-align: right; font-weight: normal; padding-right: 8px}
div.header {width: 100% }
div.left {position: absolute; width: 47%; left: 1%; border-right: 1px solid black }
div.right {position: absolute; width: 47%; right: 1%;}
