div.skedj div.filter {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #CCCC99;
    float: left;
    width: 45%;
}
div.skedj div.generate {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #CCCC99;
    float: right;
    width: 45%;
}
div.skedj div.footer {
    position: absolute;
    margin-top: 270px;
}
div.skedj div.content {
    position: absolute;
    margin-top: 340px;
}
div.skedj caption {
    background: #FFFF99;
    font-weight: bold;
    text-align: right;
}
div.skedj th {
    background: #FFCCCC;
    text-align: left;
}
div.skedj td {
    background: #FFCCCC;
}
div.skedj td.available {
    background: #00FF00;
}
div.skedj td.shift {
    background: #CCFFFF;
}
div.skedj td.meeting {
    background: #CCCC99;
    font-style: italic;
    font-weight: bold;
}
div.skedj td.unavailable {
    background: #99CCFF;
}
div.skedj td.hardconflict {
    background: #FF0000;
}
div.skedj td.mediumconflict {
    background: #FF8800;
}
div.skedj td.softconflict {
    background: #FFFF00;
}
div.skedj td.unfilled {
    background: #FFFF33;
}
