div.skedj div.filter td, div.skedj div.filter th, div.skedj div.generate td, div.skedj div.generate th {
    background: #CCCC99;
}

div.skedj div.filter {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #CCCC99;
    float: left;
    width: 45%;
}
div.skedj div.generate {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #CCCC99;
    float: right;
    width: 45%;
}
div.skedj div.content {
  float: left;
  clear:left;
}
div.skedj_footer {
  float: left;
  clear:left;
}
.skedj caption {
    background: #FFFF99;
    font-weight: bold;
    text-align: right;
}
caption.blackout {
    background: grey;
}
.skedj th {
    background: #FFCCCC;
    text-align: left;
}
.skedj td {
    background: #FFCCCC;
}
div.skedj td.available {
    background: #00FF00;
}
div.skedj td.shift {
    background: #CCFFFF;
}
div.skedj td.training {
    background: #8467D7;
}
div.skedj td.proposed {
    background: #00FF00;
}
div.skedj td.meeting {
    background: #CCCC99;
    font-style: italic;
    font-weight: bold;
}

div.skedj td.cancelled {
    background: #C0C0C0;
}
div.skedj td.unavailable {
    background: #99CCFF;
}
div.skedj td.hardconflict {
    background: #FF0000;
}
div.skedj td.mediumconflict {
    background: #FF8800;
}
div.skedj td.softconflict {
    background: #FFFF00;
}
div.skedj td.unfilled {
    background: #FFFF33;
}
div.skedj td.checked_in {
    background: #FFFF00;
}
div.skedj td.selected {
    background: #800080;
}
