<%= error_messages_for 'gizmo' %>

<!--[form:gizmo]-->
<p><label for="gizmo_modified">Modified</label><br/>
<%= datetime_select 'gizmo', 'modified'  %></p>

<p><label for="gizmo_created">Created</label><br/>
<%= datetime_select 'gizmo', 'created'  %></p>
<!--[eoform:gizmo]-->

