<%
        (Date.parse(current_date)..Date.parse(next_date)).each do |check|
          if Holiday.is_holiday?(check)
            %> <fieldset style="clear: left"><h1>Closed for <%= Holiday.find_by_holiday_date(check).name %> on <%= check.strftime("%A") %>, <%= check %></h1></fieldset><%
          end
        end
%>

