<% unless params[:action] == "staffsched" %>
<% found = SkedjulnatorAccess.find(:all, :conditions => ['updated_at >= ?', 1.hour.ago]) %>
<fieldset>
<h2>Recent Skedjulers</h2>
<%= found.sort_by(&:updated_at).map{|x| [x.user == current_user ? "you (#{x.user.login})" : x.user.login, x.updated_at.to_time.strftime("%r")].join(" #{x.user == current_user ? "are accessing" : "last accessed"} skedjulnator at ")}.join("<br />") %>
</fieldset>
<% end %>

