    <tr>
    <th>
      <% if skedj.opts[:presentation_mode]=='Preview' %>
        <%= skedj.get_method_value(skedj.current, :left_method_name) %>
      <% else %>
        <%= link_to skedj.get_method_value(skedj.current, :left_method_name), { :action => skedj.opts[:left_link_action], :controller => skedj.opts[:left_table_name], :id => skedj.get_method_value(skedj.current, :left_link_id) }, :title => skedj.opts[:left_link_action], :popup => true %>
      <% end %>
    </th>



    <% # output leading cells as padding %>
    <% lead_time = ( skedj.get_method_value(skedj.current, :thing_start_time) - skedj.get_method_value(skedj.current, :block_start_time) ) / (60*15) %>
    <% for i in (1..lead_time) %>
      <td>&nbsp;</td>
    <% end %>

