  <% if current_user and (current_user.roles.include?(Role.find_by_name('SKEDJULNATOR')) or current_user.roles.include?(Role.find_by_name('ADMIN'))) and ! @readonly %>
  <div class="skedj_footer noprint">
    <a href='/holidays'>holidays</a>
    <a href='/meetings'>meetings</a>
    <a href='/vacations'>vacations</a>
    <a href='/shifts/view_weekly_schedule'>shifts</a>
    <a href='/work_shifts/list'>work shifts</a>
    <br/>
    <a href='/jobs'>jobs</a>
    <a href='/schedules'>schedules</a>
    <a href='/weekdays'>weekdays</a>
    <a href='/workers'>workers</a>
    <a href='/unavailabilities'>unavailabilities</a>
    <br/>
    <a href='/worker_types'>worker types</a>
  </div>
  <% end %>
