    <tr>
    <th width="10%">&nbsp;</th>
    <% for i in (0..((@day_length || 1)-1)) %>
      <% if @sched_start_time %>
      <% time = (@sched_start_time + (i * 60 * 30 )) %>
      <% display_time = time.strftime(" %I:%M").gsub( ' 0', '' ) %>
      <th colspan="30" width="<%= @width %>%"><%= display_time %></th>
      <% end %>
    <% end %>
    </tr>
</table>
<% if ["work_shifts", "shifts"].include?(params[:controller]) %>
<% a = params[:controller] == "shifts" ? ShiftFootnote.find_by_weekday_id_and_schedule_id(last_date, skedj.conditions.schedule_id) : WorkShiftFootnote.find_by_date(last_date) %>
<% vacs = params[:controller] == "shifts" ? [] : Vacation.on_date(last_date) %>
<% if skedj.opts[:presentation_mode] == 'Edit' || a || vacs.length > 0 %>
<fieldset id="fieldset-footnote-<%= last_date %>">
<%= render :partial => 'work_shifts/footnote', :locals => {:note => a, :skedj => skedj, :current_date => last_date, :display_link => skedj.opts[:presentation_mode] == 'Edit', :schedule_id => skedj.conditions.schedule_id, :vacs => vacs} %>
</fieldset>
<% end %>
<% end %>
<br/>
<br/>

