    <tr>
    <th width="10%">&nbsp;</th>
    <% for i in (0..((@day_length || 1)-1)) %>
      <% if @sched_start_time %>
      <% time = (@sched_start_time + (i * 60 * 30 )) %>
      <% display_time = time.strftime(" %I:%M").gsub( ' 0', '' ) %>
      <th colspan="30" width="<%= @width %>%"><%= display_time %></th>
      <% end %>
    <% end %>
    </tr>
</table>
<% if params[:controller] == "work_shifts" %>
<% a = WorkShiftFootnote.find_by_date(current_date) %>
<% if skedj.opts[:presentation_mode] == 'Edit' || a %>
<fieldset id="fieldset-footnote-<%= current_date %>">
<%= render :partial => 'footnote', :locals => {:note => a, :skedj => skedj, :current_date => current_date, :display_link => skedj.opts[:presentation_mode] == 'Edit'} %>
</fieldset>
<% end %>
<% end %>
<br/>
<br/>

