<h1><%= @report.full_title %></h1>

<%# generate teh graph %>
<%= render :partial => "graph", :locals => {:graph_n => 0} %>
<%# generate teh table %>
<%= render :partial => "table", :locals => {:table_n => 0} %>
