<h1>Editing rr_set</h1>

<% form_tag :action => 'update', :id => @rr_set do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @rr_set %> |
<%= link_to 'Back', :action => 'list' %>
