<% for column in RrSet.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @rr_set.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @rr_set %> |
<%= link_to 'Back', :action => 'list' %>
