<% for column in RrItem.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @rr_item.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @rr_item %> |
<%= link_to 'Back', :action => 'list' %>
