<%= error_messages_for 'default' %>

<!--[form:default]-->
<p><label for="default_name">Name</label><br/>
<%= text_field 'default', 'name'  %></p>

<p><label for="default_value">Value</label><br/>
<%= text_field 'default', 'value'  %></p>

<!--[eoform:default]-->

