<% for column in Default.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @default.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @default %> |
<%= link_to 'Back', :action => 'list' %>
