<h1>Editing recycling shipment</h1>

<% form_for(@recycling_shipment, :url => {:action => "update", :id => @recycling_shipment.id}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', @back_url %>
