<div class='generate'>
<h3>Generate work shifts:</h3>
<%= form_tag :action => 'generate' %>
  <label for="start_start_date">Start date:</label> <%= calendar_box :date_range, :start_date %>
  <label for="end_end_date">End date:</label> <%= calendar_box :date_range, :end_date %>
  <%= submit_tag "Generate" %><br />
<%= end_form_tag %>
</div>

