<fieldset>
  <div class="row">
    <!--[form:contact_method]-->

<div class="form-element">
<label for="contact_method_type_id">Method of contact</label><br/>
<select id="contact_contact_method_type_id" name="contact_method[contact_method_type_id]">
  <%= options_from_collection_for_select ContactMethodType.find(:all), "id", "description", @contact_method.contact_method_type_id %>
</select>
</div>

<div class="form-element">
  <label for="contact_method_description">Details</label>
  <%= text_field 'contact_method', 'description' , {:class=>"text-input"} %>
</div>

<div class="form-element">
  <%= select "contact_method", "ok", [["acceptable to use", true], ["not okay to use", false]], { :selected => @contact_method.ok } %>
</div>

<!--[eoform:contact_method]-->

  </div>
</fieldset>
