<table id="contact_method_lines">
  <tr>
    <th>type</th>
    <th>is usable</th>
    <th>value</th>
    <th></th>
  </tr>
  <%
    js = ""
    if @contact.contact_methods %>
  <%
    for line in @contact.contact_methods
      js += "add_contact_method(#{h line.contact_method_type_id}, '#{line.ok}', '#{h line.value}');"
    end
    %>
  <% end %>
  <%= javascript_tag js %>

  <tr id="contact_method_form">
    <td><select id="contact_method_type_id" onchange="contact_contact_method_selected()">
        <%= options_from_collection_for_select([ContactMethodType.new(:id=>1, :description=>"pick a type")] + ContactMethodType.find(:all).sort_by(&:description), "id", "description") %>
      </select></td>
    <td><input name="is_usable" id="is_usable" type="checkbox"></td>
    <td><input name="contact_method_value" id="contact_method_value" onkeydown="if(is_tab(event)) {return add_contact_method_from_form();}"></td>
    <td></td>
  </tr>
</table>
