<fieldset>
  <div class="row">
    <!--[form:contact]-->
<div class="form-element">
  <label for="contact_first_name">First name</label>
  <%= text_field 'contact', 'first_name' , {:class=>"text-input"} %>
</div>

<!--[eoform:contact]-->

  </div>
</fieldset>