<span class="hours"><%= @contact.last_ninety_days_of_actual_hours %></span> hours in the last 90 days
<% if @contact.hours_actual != @contact.hours_effective %>
  <br /><span class="hours"><%= @contact.hours_effective %></span> effective adoption hours
<% end %>
<% if @contact.last_ninety_days_of_actual_hours != @contact.hours_actual %>
  <br /><span class="hours"><%= @contact.hours_actual %></span> total hours
<% end %>