<span class="hours"><%= @contact.last_ninety_days_of_actual_hours %></span> hours in the last 90 days
<% if @contact.last_ninety_days_of_actual_hours != @contact.last_ninety_days_of_effective_hours %>
  <br /><span class="hours"><%= @contact.last_ninety_days_of_effective_hours %></span> effective towards adoption
<% end %>
