  <h3>Search for a contact</h3>
  <%= contact_field('@contact', 'id') %>

  <h3>Search by conditions</h3>

  <% form_tag( { :controller => '/contacts', :action => 'lookup_results' } ) do %>

  <div class="form-element" style="width: 100%;">
    <% filters = {} %>
    <% filters['date_range'] = date_or_date_range_picker('defaults') %>
    <% filters['id'] = text_field('defaults', 'id') %>
    <% filters['contact_type'] = collection_select("defaults", "contact_type", ContactType.find(:all), "id", "description") %>
    <%= multiselect_of_form_elements( 'defaults', filters ) %>
    <div class="form-footer">
      <input type="submit" value="Find Contacts" />
    </div>
  </div>
  <% end %>


