<div class="picklist-element">
  <label for="donation_created_at">Created at</label>
  <%= link_to_remote(picklist.created_at.strftime("%m/%d/%y"), 
    :url => {:action => 'small_edit', :controller => 'contacts',
     :id => picklist.contact.id,
     :scaffold_id => params[:scaffold_id] },
    :loading => "Element.show('#{loading_indicator_id(@options)}');"
     )
  %>
</div>
