  <label for="<%= @contact_searchbox_field_id %>"><%= @contact_searchbox_search_label %></label>
  <input type="text" name="contact_searchbox_query"
    id="<%= @contact_searchbox_field_id %>"/>
  <button name="contact_searchbox_search"
    onclick="contact_searchbox_submit();">Search</button>