  <label for="<%= @search_vars[:field_id] %>"><%= @search_vars[:search_label] %></label>
  <input type="text" name="contact_searchbox_query"
    id="<%= @search_vars[:field_id] %>"/>
  <button name="contact_searchbox_search" type="button"
    onclick="<%= remote_function :url => {
        :action => 'search_results',
        :controller => '/contacts' },
      :with => "'searchbox_id=#{@search_vars[:id]}&query=' + $('#{@search_vars[:field_id]}').value"
 %>">
    Search
  </button>
