<%= form_tag( { :controller => '/contacts' }, { :id => 'tasty_test' } ) %>
  <div class="form-element">
    <%= render :partial => 'search', :locals => {:contact => @contact} %>
  </div>
<%= end_form_tag %>
