<h1>List of database privilege roles</h1>
<table class="awesome">
<% @roles.each do |role| %>
  <tr>
  <th><%= role.display_string %></th>
  <td>
    <ul>
    <% role.users.can_login.sort_by(&:login).each do |user| %>
      <li><%= user.login %> (<%= user.contact ? user.contact.display_name + " (#" + user.contact_id.to_s + ")" : "No Contact" %>)</li>
    <% end %>
    </ul>
  </td>
  </tr>
<% end %>
</table>
