<% if @contact %>
  we have a contact!
<% else %>
  <p>Find a contact and submit:</p>

  <%= form_tag( { :controller => '/contacts', :action => 'test' }, { :id => 'tasty_test' } ) %>
    <div class="form-element">
      <%= render_component( :controller => '/contacts', :action => 'search',
        :params => { :field_name => "contact_id", :contact => @contact,
          :search_label => "Find the contact:", :select_label => "Select the contact:" } ) %>
    </div>
    <br />
    <input type="submit" />
  <%= end_form_tag %>
<% end %>