<button id="<%= anonymize_button_id(@options) %>" type="button" onclick="<%= remote_function( :url => @options.merge({
    :action => 'de_anonymize',
    :donation_id => @donation.id
  }) ) %>">Not anonymous?</button>

<div class="form-element">
  <label for="donation_postal_code">Postal code</label>
  <%= text_field 'donation', 'postal_code', {:class => 'text-input', :size => "6"} %>
</div>