
<img src="/public/images/freegeeklogo.gif" alt="freegeeklogo.gif" />
<p>
Donation Receipt
<br />Federal Tax I.D.  -1292010
</p>
<hr />

Total fees: <%= number_to_currency(@total_reported_fees) %>
<br />
Total paid: <%= number_to_currency(@donation.money_tendered) %>

<p>
<span id="button_span">
  <INPUT type="button" id="print_button" value="Print" 
    onclick="window.print()" >
  <INPUT type="button" id="close_button" value="Close" 
    onclick="window.close()" >
</span>
</p>
