<fieldset>
  <div class="row">
    <!--[form:contact_type]-->

<div class="form-element">
  <label for="contact_type_description">Description</label>
  <%= text_field 'contact_type', 'description' , {:class=>"text-input"} %>
</div>

<!--[eoform:contact_type]-->

  </div>
</fieldset>
