      <% for scaffold_column in scaffold_columns(@transaction_type) %>
        <% column_header_id = scaffold_column_header_id(:column_name => scaffold_column.name) %>
        <th id="<%= column_header_id %>" <%= "class=\"sorted #{current_sort_direction(params)}\"" if scaffold_column.name == current_sort(params) %>>
          <p><%= scaffold_column.label %></p>
        </th>
      <% end %>
      <th></th>