<div id="<%= totals_id('donation')%>" class="totals line_item">
  <table>
    <tr><td>Required:</td><td id="required" class="amount">0.00</td></tr>
    <tr><td>Suggested:</td><td id="suggested" class="amount">0.00</td></tr>
    <tr><td>Total:</td><td id="total" class="amount">0.00</td></tr>
    <tr><td>Payment Total:</td><td id="received" class="amount">0.00</td></tr>
    <tr id="short_row" style="display:none"><td>Amount Short:</td><td id="short" class="amount">0.00</td></tr>
    <tr id="bonus_row" style="display:none"><td>Bonus Donation:</td><td id="bonus" class="amount">0.00</td></tr>
  </table>
</div>
