<div id="<%= totals_id('donation')%>" class="totals line_item">
  <table>
    <tr><td>Required:</td><td id="required">0.00</td></tr>
    <tr><td>Suggested:</td><td id="suggested">0.00</td></tr>
    <tr><td>Total:</td><td id="total">0.00</td></tr>
    <tr><td>Amount Received:</td><td id="received">0.00</td></tr>
    <tr id="short_row" style="display:none"><td>Amount Short:</td><td id="short">0.00</td></tr>
    <tr id="bonus_row" style="display:none"><td>Bonus Donation:</td><td id="bonus">0.00</td></tr>
  </table>
</div>
