<% @donation = donation %>
<%= render :partial => "donation_receipt_guts", :locals => {:donation => @donation} %>

<p><%= h @donation.comments %></p>
<hr />
<p class="footer">We affirm that no goods or services were provided in return for the donation amounts listed above (required fees excepted).</p>
<p class="footer" id="suggested_fee" style="display: none">
There is a total suggested donation of $<%= @donation.reported_suggested_fee %> for these items.
</p>
</div>
