<div id="<%= totals_id('sale') %>" class="totals line_item">
  <table>
    <tr><td>Subtotal:</td><td id="subtotal">0.00</td></tr>
    <tr><td>Discount:</td><td id="discount">0.00</td></tr>
    <tr><td>Grand Total:</td><td id="grand_total">0.00</td></tr>
    <tr style="display:none"><td>Overpayment:</td><td id="overpayment">0.00</td></tr>
  </table>
</div>
