<div id="<%= totals_id('sale') %>" class="totals line_item">
  <table>
    <tr><td>Subtotal:</td><td id="subtotal" class="amount">0.00</td></tr>
    <tr><td>Discount:</td><td id="discount" class="amount">0.00</td></tr>
    <tr><td>Grand Total:</td><td id="grand_total" class="amount">0.00</td></tr>
    <tr><td>Total Tendered:</td><td id="total_payments" class="amount">0.00</td></tr>
    <tr id="storecredit_left_tr"><td>Store Credit Left:</td><td id="storecredit_left" class="amount">0.00</td></tr>
    <tr id="change_due_tr"><td>Change Due:</td><td id="change_due" class="amount">0.00</td></tr>
  </table>
</div>
