<%= render :partial => "sale_receipt_guts", :locals => {:@sale => @sale} %>

<div style="font-size: 50%">
<p>Return Policy</p>

<p>NO REFUNDS. WE WILL NOT GIVE YOU YOUR MONEY BACK. If we sell
you something that does not work, and we decide we are at fault,
we will compensate you in some other way, most likely an exchange
for an equivalent item or a store credit. YOU MUST HAVE A
RECEIPT, AND YOU MUST RETURN THE NON-FUNCTIONING ITEM WITHIN ONE
WEEK. You have one week to decide if stuff works and to get it
back to us. Please do hang on to the receipt, and leave any gizmo
stickers on the item in question. We may exhibit some flexibility
about timing but this is at the discretion of the Sales
Coordinators. WE DO NOT WARRANT A DEVICE'S USABILITY FOR YOUR
PURPOSES. YOU ARE RESPONSIBLE FOR KNOWING WHAT YOU HAVE AND WHAT
YOU NEED. We will help as much as we can in determining what you
need, but it's your responsibility to find out what you have and
what it will work with. If you buy the wrong stuff and it's a
simple swap out for a common item of similar value we will be
happy to exchange it but this isn't always possible. UNTESTED, AS
IS, NO RETURN MEANS JUST THAT. If a device or gizmo is marked
with any of the above phrases, the sale is final. It means we do
not have the desire or ability to test the gizmo in question. The
price will reflect the items status, i.e. we don't know if it
works, we don't want to find out, it's cheap and we don't want to
see it again. BUYER BEWARE</p>
</div>
