<%= render :partial => "sale_receipt_guts", :locals => {:@sale => @sale} %>

<div style="font-size: 50%">
  <p>Return Policy</p>

  <p>As-Is:<br />
    Items sold "As-Is" will be labeled as such on the sales receipt. As-Is
    items cannot be exchanged or returned for any reason.</p>

  <p>Returns:<br />
    In order to return an item, you must present your receipt at the time of
    return. The item must have original stickers attached, and must be
    returned in the same condition as originally sold.</p>

  <p>We do not offer refunds for any reason. In some circumstances, we do
    provide in-store credit, which is valid for a period of one year from
    the date of issue.</p>

  <p>We cannot provide duplicate copies of store credits; if you lose a store
    credit, you are out of luck.</p>

  <p>14-Day Exchange<br />
    Most items in the store are returnable for a period of 14 days from the
    date of purchase for in-store credit.</p>

  <p>30-Day Warranty on LCD Monitors<br />
    LCD monitors may be returned for a period of 30 days from the date of
    purchase for in-store credit.</p>

  <p>90-Day System Warranty<br />
    Systems are covered by our 90-Day System Warranty. Full text of our
    System Warranty is available on request in the Thrift Store, or online
    at www.freegeek.org/thrift-store/warranty.</p>
</div>
