<table id="line_items">
<tr>
<th>type</th>
<th>qty</th>
<th>unit price</th>
<th>total price</th>
<th></th>
<% if @transaction.gizmo_events %>
<% for line in @transaction.gizmo_events %>
<%= javascript_tag "do_it(#{line.gizmo_type_id}, #{line.unit_price}, #{line.gizmo_count})" %>
<% end %>
<% end %>

<tr id="form">
<td><select id="gizmo_type_id">
<%= options_from_collection_for_select(@gizmo_context.gizmo_types.sort_by(&:description), "id", "description") %>
</select></td>
<td><input name="gizmo_count" id="gizmo_count"></td>
<td><input name="price" id="price" onkeydown="if(event.keyCode==9) {return do_it2();}"></td>
<td></td>
<td><a onClick="do_it2();">Click</a></td>
</tr>
</table>
