<% params[:gizmo_context_id] ||= @gizmo_context.id %>
<%= javascript_tag "gizmo_context = '#{@gizmo_context.to_s}';"%>

<table id="gizmo_event_lines">
<tr>
<th>type</th>
<th>qty</th>
<th>unit price</th>
<th>total price</th>
<th></th>
<% if @transaction.gizmo_events %>
<% for line in @transaction.gizmo_events %>
<% js = "" %>
<% js += "var args = new Array();" %>
<% js += "args['gizmo_type_id'] = #{line.gizmo_type_id};" %>
<% js += "args['unit_price'] = #{line.unit_price};" %>
<% js += "args['gizmo_count'] = #{line.gizmo_count};" %>
<% js += "do_it(args, gizmo_events_stuff, sales_stuff);" %>
<%= javascript_tag js %>
<% end %>
<% end %>

<tr id="form">
<td><select id="gizmo_type_id">
<%= options_from_collection_for_select(@gizmo_context.gizmo_types.sort_by(&:description), "id", "description") %>
</select></td>
<td><input name="gizmo_count" id="gizmo_count"></td>
<td><input name="unit_price" id="unit_price" onkeydown="if(event.keyCode==9) {return add_sale_gizmo_event();}"></td>
<td></td>
<td><a onClick="add_sale_gizmo_event();">Click</a></td>
</tr>
</table>
