<table id="payment_lines">
  <tr>
    <th>Payment Method</th>
    <th>Amount</th>
    <th></th>
  <tr>
    <% if @transaction.payments %>
      <% @gizmos_and_payments_js ||= "" %>
      <% for line in @transaction.payments %>
        <% @gizmos_and_payments_js += "add_payment(#{line.payment_method_id}, #{line.amount}, #{@gizmo_context}_compute_totals);" %>
      <% end %>
    <% end %>

  <tr>
    <td><select id="payment_method_id">
        <%= options_from_collection_for_select([GizmoType.new(:id=>1, :description=>"pick a payment type")] + PaymentMethod.find(:all).sort_by(&:description), "id", "description") %>
      </select></td>
    <td><input id="payment_amount" name="payment_amount" onkeydown="if(is_tab(event)) {return handle_payments();}"/></td>
  </tr>
</table>
