<% if @transaction.methods.include?('storecredits') %>
  <% for credit in @transaction.storecredits.select{|x| !x.spent?} %>
    <fieldset style="border: 1px solid;">
      <h3>Store Credit #<%= credit.id %></h3>
      This Store Credit is redeemable for $<%= credit.amount %> at the Free Geek Thrift Store through <%= credit.valid_until.strftime("%B %d, %Y") %>.
    </fieldset>
  <% end %>
<% end %>
