<fieldset>
  <legend>Volunteer Identification</legend>
  <label for="volunteer-id">Volunteer ID</label>
  <input type="text" id="volunteer-id"
         placeholder="Volunteer ID" name="volunteer_id" />
  <span class="seperator">OR</span>
  <label for="volunteer-first-name">First name</label>
  <input type="text" id="volunteer-first-name"
         placeholder="First name" name="first_name" />
  <label for="volunteer-last-name">Last name</label>
  <input type="text" id="volunteer-last-name"
         placeholder="Last Name" name="last_name" />
</fieldset>
