<table>
  <tr>
    <th>Name</th>
  </tr>

<% for resource in @resources %>
  <tr>
    <td><%=h resource.name %></td>
    <td><%= link_to 'Show', {:action => "show", :id => resource.id} %></td>
    <td><%= link_to 'Edit', {:action => "edit", :id => resource.id} %></td>
    <td><%= link_to 'Destroy', {:action => "destroy", :id => resource.id}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>
