<fieldset>
  <div class="row">
    <!--[form:gizmo_attr]-->
<div class="form-element">
  <label for="gizmo_attr_name">Name</label>
  <%= text_field 'gizmo_attr', 'name' , {:class=>"text-input"} %>
</div>

<div class="form-element">
  <label for="gizmo_attr_datatype">Datatype</label>
  <%= text_field 'gizmo_attr', 'datatype' , {:class=>"text-input"} %>
</div>

<!--[eoform:gizmo_attr]-->

  </div>
</fieldset>
