<% for column in CoverageType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @coverage_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @coverage_type %> |
<%= link_to 'Back', :action => 'list' %>
