<% for column in Unavailability.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @unavailability.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @unavailability %> |
<%= link_to 'Back', :action => 'list' %>
