<h1>New role</h1>

<% form_tag({:action => "create"}) do |f| %>
  <p>
    <b>Name</b><br />
    <%= text_field "name", :name %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', :action=>"index" %>
