<div class="noprint">
<% form_tag(:action => "badge") do %>
<div>
Select workers:
</div>
<% Worker.on_date.sort_by(&:name).each do |w| %>
<div class="form-element">
<%= check_box_tag "workers[#{w.id}]", w.id, @workers && @workers.include?(w) %><%= label_tag "workers[#{w.id}]", w.name %>
</div>
<% end %>

<br />
<div style="clear: left">
<%= submit_tag "Generate Badges" %>
</div>

<% if @workers %>
<% @workers.each do |x| %>
<%= link_to "Upload image for #{x.name}", {:action => "upload", :id => x.id}, :target => "_blank" %>
<% end %>
<% end %>

<% end %>
</div>
