<% for column in Worker.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @worker.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @worker %> |
<%= link_to 'Back', :action => 'list' %>
