<h2>Uploading picture for <%= @worker.name %></h2>

Current image:
<img width="160px;" height="200px" src="/images/workers/<%= @worker ? @worker.id : 0 %>.png" alt="none" />

<br />
<br />
<br />

Upload a .png image:
<% form_tag({:action => "upload", :id => @worker.id}, :multipart => true) do %>
  <%= file_field_tag 'picture' %>
  <%= submit_tag "Upload" %>
<% end %>
