<table border="0">
  <% midrow = false %>
    <% @rt_metadata["Tech Support Issue"].each do |x| %>
      <% unless midrow %>
        <tr>
      <% end %>
      <td><%= f.radio_button "issue", x, {:checked => @work_order.issue == x} %><%= f.label "issue", x, :value => x %></td>
      <% if midrow %>
        </tr>
      <% end %>
      <% midrow = ! midrow %>
    <% end %>
    <% if midrow %>
      </tr>
    <% end %>
</table>
