    <% @rt_metadata["Tech Support Issue"].each do |x| %>
    <div class='form-element'>
      <%= f.radio_button "issue", x, {:checked => @work_order.issue == x} %>
      <%= f.label "issue", x, :value => x %>
    </div>
    <% end %>

