<%= link_to 'Back', {:action => "index"} %>
<% if @data %>
<div class="noprint">
<% if @error %>
<span class="error"><%= @error %><br /><br /></span>
<% end %>
<INPUT type="button" id="print_button" value="Print"
       onclick="window.print();" >
</div>
<%= render :partial => 'workorder', :locals => {:data => @data, :system => @system} %>
<% end %>


