<fieldset>
  <div class="row">
    <!--[form:gizmo_context]-->
<div class="form-element">
  <label for="gizmo_context_name">Name</label>
  <%= text_field 'gizmo_context', 'name' , {:class=>"text-input"} %>
</div>

<!--[eoform:gizmo_context]-->

  </div>
</fieldset>
