<%= error_messages_for 'grant_type' %>

<!--[form:grant_type]-->
<p><label for="grant_type_description">Description</label><br/>
<%= text_field 'grant_type', 'description'  %></p>
<!--[eoform:grant_type]-->

