<% for column in GrantType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @grant_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @grant_type %> |
<%= link_to 'Back', :action => 'list' %>
