  <div id="date_choice">
    <div class="form-element">
      <%= select_month(@defaults.month, :prefix => 'defaults') %>
    </div>
    <div class="form-element">
      <%= select_year(@defaults.year, :prefix => 'defaults') %>
    </div>
  </div>

