<h1>Editing report</h1>

<%= error_messages_for :report %>

<% form_tag({:action => "update"}) do |f| %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', {:action => "show", :id => @report.id} %> |
<%= link_to 'Back', {:action => "index"} %>
