<div class="form-element">
     <%= multiselect_of_form_elements('defaults', {"occured_at" => "<label>What range of gizmos?</label>" + date_or_date_range_picker("defaults", "occured_at")} ) %>
</div>
