<div class="form-element">
     <%= multiselect_of_form_elements('defaults', {"created_at" => "<label>What range of income?</label>" + date_or_date_range_picker("defaults", "created_at")} ) %>
</div>
