<h1>Top contributors report</h1>
<div class="form-element">
  <%= conditions_html('conditions', ["occurred_at"]) %>
  <%= label "report_amount", "Dollar Amount" %>
  <%= text_field('report', 'amount') %>
</div>
