<div class="form-element">
  <% filters = {} %>
  <% filters['date_range'] = date_or_date_range_picker('defaults') %>
  <% if (has_role?('CONTACT_MANAGER'))
       filters['contact'] =
         contact_field('@defaults', 'contact_id',
           :locals => { :options => {
             :element_prefix => 'filter_contact',
             :display_edit => false, :display_create => false,
             :show_label => false
           } }
         )
      elsif (is_logged_in() && @current_user.contact_id)
       filters['contact'] =
         "Me" + hidden_field('defaults', 'contact_id', :value => @current_user.contact_id)
      end
  %>
  <label>Volunteering report for who or what period of time?</label>
  <%= multiselect_of_form_elements( 'defaults', filters ) %>
 </div>
