<div id="<%= params[:scaffold_id] %>" class="ajax-scaffold">
  <div id="<%= scaffold_content_id(params) %>">
    <%= @content_for_layout %>
  </div>
</div>

<div id="display_form_here" />

<script type="text/javascript">
  Rico.Corner.round('<%= params[:scaffold_id] %>', {color: '#005CB8', bgColor: '#fff', compact: true});
  foo = document.createElement('div');
  foo.innerHTML = '<div class="searchbox_form" id="insert_form_here" />';
  document.body.appendChild(foo);
</script>
