<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
  <title class="banner"><%= @context %></title>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
</head>
<body>
<table>
<tr>
  <td><img src="/images/freegeeklogo.png" alt="freegeeklogo.png" /></td>
  <td><img src="<%= Default['address image'] %>" alt="<%= Default['contact info'] %>" /></td>
  <td>
    <%= @txn.contact_information.join('<br />') %>
  </td>
</tr>
<tr>
  <td colspan="3"><hr /></td>
</tr>

<tr>
  <td colspan="2">
    <%= Inflector.titleize( @context ) %>
    <strong>
    <% if @txn.invoiced? %>
      <font color="#FF0000" size="+2">Invoice</font>
    <% else %>
      Receipt
    <% end %>
    </strong>
  </td>
  <% if @context == 'donation' %>
    <td align="right"><%= Default['tax id'] %></td>
  <% else %>
    <td align="right"><%= Default['business id'] %></td>
  <% end %>
</tr>
<tr>
  <td>Date: <%= @txn.created_at.strftime("%m/%d/%Y") %></td>
  <td align="center">
    <%= Inflector.titleize( @context ) %> <strong># <%= @txn.id %></strong>
  </td>
  <td align="right">
    <% if @txn.invoiced? %>
      <strong>
      Due: <%= Time.now.+(60*60*24*30).strftime("%m/%d/%Y") %>
      </strong>
    <% end %>
  </td>
</tr>

<%= yield %>

<p>
<span id="button_span">
  <INPUT type="button" id="print_button" value="Print" 
    onclick="window.print()" >
  
  <INPUT type="button" id="restart_button" value="Start Over" 
    onclick="window.close()" >
</span>
</p>
</body>
</html>
