<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Reports</title>
  <%= stylesheet_link_tag 'ajax_scaffold', 'application', :media => 'all' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'rico_corner', 'ajax_scaffold', 'application' %>
</head>
<body>

<%= form_tag( { :controller => '/reports', :action => controller.action_name + "_report" } ) %>
  <div id="<%= '#element_messages_id(???)' %>" class="messages-container"></div>

  <%= @content_for_layout %>

  <p class="form-footer">
    <input type="submit" />
    <%= '#loading_indicator_tag ???' %>
  </p>
<%= end_form_tag %>

</body>
</html>
