<%= render :partial => 'sidebar_links/page_header' %>
  <%= form_tag( { :controller => '/reports', :action => controller.action_name + "_report" } ) %>
    <div id="<%= '#element_messages_id(???)' %>" class="messages-container"></div>

    <%= @content_for_layout %>

    <p class="form-footer">
      <input type="submit" value="Generate Report" />
    </p>
  <%= end_form_tag %>
<%= render :partial => 'sidebar_links/page_footer' %>