<%= render :partial => 'sidebar_links/page_header' %>
<% form_tag( { :controller => '/reports', :action => controller.action_name + "_report" } ) do %>
  <div id="<%= '#element_messages_id(???)' %>" class="messages-container"></div>

  <%= @content_for_layout %>

  <p class="form-footer">
    <input type="submit" value="Generate Report" />
  </p>
<% end %>
<%= render :partial => 'sidebar_links/page_footer' %>
